/*   offer   */

.offer {
 background: url("offer-top.jpg") 50% 0 no-repeat #afdef3;
 height: 568px;
 padding: 0;
}

.offer .box {
 height: 570px;
 padding: 20px 0 0;
}

.offer h1 {
 font-size: 52px;
 font-weight: 700;
 line-height: 52px;
 text-align: center;
 color: #222;
 margin-bottom: 15px;
}

.offer h2 {
 font-size: 16px;
 font-weight: 700;
 color: #fff;
 text-transform: uppercase;
 text-align: center;
 margin-bottom: 180px;
}

.offer h2 span {
 display: inline-block;
 background: #44a8f2;
 padding: 5px 15px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
}

.offer .sale {
 position: absolute;
 left: 480px;
 top: 200px;
 display: block;
 width: 67px;
 height: 28px;
 line-height: 30px;
 background: url("sale-bg.png") 0 0 no-repeat;
 font-size: 18px;
 font-weight: 700;
 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
 padding-left: 15px;
}

.offer .order_form {
 float: right;
 position: relative;
 width: 380px;
 margin-right: 10px;
 background: #fff;
 padding: 25px 40px;
 -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
 -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
 box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

.offer .sale_text {
 text-align: center;
 font-size: 22px;
 line-height: 30px;
 padding-bottom: 15px;
}

.offer .sale_text b {
 display: block;
 font-size: 26px;
}

.offer.bottom {
 background: url("offer-bottom.jpg") 50% 0 no-repeat #e4eeee;
 height: 718px;
}

.offer.bottom h2 {
 margin-bottom: 20px;
}

.offer.bottom .box {
 height: auto;
}

.offer.bottom .last_day {
 text-align: center;
 padding: 10px 0 15px;
}

.offer.bottom .stock {
 font-size: 14px;
 text-align: center;
 padding-top: 15px;
}

.offer.bottom .stock b {
 display: inline-block;
 padding: 1px 7px;
 font-size: 16px;
 background: #44a8f2;
 color: #fff;
 margin: 0 3px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

.offer.bottom .sale {
 display: none;
}

/*   promo   */

.promo.top {
 background: #00b4e6;
 padding: 20px 0 10px;
 border: none;
}

.promo {
 padding: 30px 0;
}

.promo .price {
 float: left;
 margin-left: 10px;
}

.promo .price .new-cost {
 color: #222;
 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.promo a.button-m {
 float: left;
 margin-left: 30px;
}

.promo .bottom_info {
 clear: left;
 padding: 13px 10px 0;
}

.promo .bottom_info:after {
 content: '';
 display: block;
 clear: both;
}

.promo .bottom_info .last_day {
 float: left;
 font-size: 14px;
 color: #fff;
}

.promo .bottom_info .stock {
 float: right;
 font-size: 14px;
 color: #fff;
}

.promo .bottom_info .stock b {
 display: inline-block;
 padding: 1px 6px;
 font-size: 16px;
 background: #fff;
 color: #222;
 margin: 0 3px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

/*   about   */

.about {
 display: inline-block;
 position: relative;
 background: #2f3847;
 color: #fff;
 text-align: center;
 padding: 0 0 20px;
}

.about:before {
 position: absolute;
 left: 50%;
 top: -27px;
 margin-left: -245px;
 display: block;
 width: 490px;
 height: 27px;
 background: url("title-bg.png") 0 0 no-repeat;
 content: '';
}

.about h4 {
 width: 100%;
 font-size: 18px;
 font-weight: 700;
 margin-top: -17px;
 text-transform: uppercase;
 padding-bottom: 5px;
}

.about h4 span {
 font-weight: 700;
}

.about p {
 padding: 0 15px;
}

.about p b {
 display: block;
}

/*   plus   */

.plus {
 background: #00b4e6;
 color: #fff;
 padding: 25px 0;
}

.plus ul {
 font-size: 0;
 text-align: center;
}

.plus ul li {
 display: inline-block;
 vertical-align: top;
 font-size: 16px;
 font-weight: 700;
 line-height: 24px;
 text-align: left;
 text-transform: uppercase;
}

.plus ul li:nth-child(1) {
 background: url("icon-1.png") 0 50% no-repeat;
 width: 270px;
 padding-left: 90px;
}

.plus ul li:nth-child(2) {
 background: url("icon-2.png") 0 50% no-repeat;
 width: 260px;
 padding-left: 55px;
}

.plus ul li:nth-child(3) {
 background: url("icon-3.png") 0 50% no-repeat;
 width: 260px;
 padding-left: 60px;
}

.plus ul li:nth-child(4) {
 background: url("icon-4.png") 0 50% no-repeat;
 width: 150px;
 padding-left: 50px;
}

.plus ul li span {
 display: block;
}

/*   b3   */

.b3 {
 background: url("bg-1.jpg") 50% 0 no-repeat #fff;
 height: 609px;
 padding: 25px 0 0;
}

.b3 h3 {
 font-size: 22px;
 font-weight: 700;
 line-height: 28px;
 text-transform: uppercase;
 padding-bottom: 15px;
}

.b3 .wrap {
 padding-left: 510px;
}

.b3 .text {
 padding-right: 20px;
}

.b3 .text p {
 padding-bottom: 20px;
}

.b3 .text img {
 display: block;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

/* benefits */

.benefits_section .wrap {
 height: auto;
}

.benefits_section {
 position: relative;
 padding: 40px 0 0;
 background: #00b4e6 url("desctop__benefits_bg.jpg") 50% 0 no-repeat;
 height: 758px;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 color: #fff;
}

.benefits_section p.desc {
 margin: -20px 0 35px;
 text-align: center;
 font-size: 18px;
}

.benefits_section p.desc b {
 display: block;
}

.benefits_section .benefits_list {

}

.benefits_section .benefit_item {
 float: left;
 margin: 0 20px 0 0;
 padding: 0 5px;
 width: 300px;
 text-align: center;
}

.benefits_section .benefit_item:last-child {
 margin: 0;
}

.benefits_section .benefit_item .image_block {
 margin: 0 auto 20px;
 width: 285px;
}

.benefits_section .benefit_item img {
 display: block;
}

.benefits_section .benefit_item h4 {
 margin: 0 0 8px;
 font-weight: 700;
 font-size: 16px;
 line-height: 24px;
}

.benefits_section .benefit_item p {
 padding: 0 20px;
}

.benefits_section .promo {
 position: absolute;
 left: 0;
 right: 0;
 bottom: 15px;
}

/* comparison */

.comparison_section {

}

.comparison_section .product_item {
 float: left;
 width: 50%;
 border-left: 1px solid #fff;
 border-right: 1px solid #fff;
}

.comparison_section .product_item:first-child {
 padding: 6px 0 0;
}

.comparison_section .product_item img {
 display: block;
 margin: 0 auto 15px;
}

.comparison_section .product_item h4 {
 padding: 10px 20px;
 background: #f84646;
 font-size: 18px;
 font-weight: 700;
 text-align: center;
 line-height: 26px;
 color: #fff;
 -webkit-border-radius: 0 5px 5px 0;
 -moz-border-radius: 0 5px 5px 0;
 border-radius: 0 5px 5px 0;
}

.comparison_section .product_item:first-child h4 {
 background: #00b4e6;
 font-weight: 700;
 color: #fff;
 text-align: center;
 -webkit-border-radius: 5px 0 0 5px;
 -moz-border-radius: 5px 0 0 5px;
 border-radius: 5px 0 0 5px;
}

.comparison_section .product_item p {
 font-size: 16px;
 line-height: 24px;
 padding: 15px 20px 15px 42px;
 background-position: 20px 22px;
 background-repeat: no-repeat;
}

.comparison_section .product_item p:nth-of-type(2n) {
 background-color: #f6f6f6;
}

.comparison_section .product_item p.yes {
 background-image: url("comparison__tick_icon.png");
}

.comparison_section .product_item p.no {
 background-image: url("comparison__cross_icon.png");
}

.comparison_section .images_block {
 clear: both;
 padding-top: 25px;
}

.comparison_section .images_block img {
 display: block;
 float: left;
 margin: 0 35px 0 0;
 width: 290px;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 border-radius: 15px;
}

.comparison_section .images_block img:last-child {
 margin: 0;
}

/*   reviews   */

.reviews {
 background: url("bg-reviews.jpg") 50% 0 no-repeat #0392ba;
 -o-background-size: cover;
 -webkit-background-size: cover;
 -khtml-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
}

.reviews h2.title {
 color: #fff;
 margin-bottom: 30px;
}

.reviews .slider:after {
 clear: both;
 content: "";
 display: table;
}

.reviews .item {
 float: left;
 width: 33.33%;
 padding: 0 12px;
}

.reviews .item .bg {
 background: #fff;
 -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.05);
 -moz-box-shadow: 0 0 21px rgba(0, 0, 0, 0.05);
 box-shadow: 0 0 21px rgba(0, 0, 0, 0.05);
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

.reviews .item .pic img {
 display: block;
 width: 100%;
 -webkit-border-radius: 5px 5px 0 0;
 -moz-border-radius: 5px 5px 0 0;
 border-radius: 5px 5px 0 0;
}

.reviews .item .info {
 position: relative;
 background: url("quote-icon.png") 92% 20px no-repeat;
 padding: 15px 15px 15px 68px;
 font-size: 15px;
 min-height: 40px;
}

.reviews .item .info img {
 position: absolute;
 left: 15px;
 top: 15px;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

.reviews .item .info h4 {
 line-height: 18px;
}

.reviews .item .text {
 padding: 0 15px 15px;
 text-align: center;
}

/*   preview photo   */

.preview_photo {
 padding: 20px 0 0;
}

.preview_photo li {
 float: left;
 padding-left: 10px;
}

.preview_photo li:first-child {

}

.preview_photo li img {
 display: block;
 border: 2px solid #fff;
}

/* order steps */

.order_steps_section {
 padding: 40px 0 0;
 background: url("order_steps_bg.jpg") center top no-repeat;
}

.order_steps_section h2.title {
 margin: 0 0 40px;
}

.order_steps_section .steps_list {
 margin: 0 -10px 60px;
}

.order_steps_section .step_item {
 float: left;
 padding: 0 40px;
 width: 33.33%;
 text-align: center;
 position: relative;
}

.order_steps_section .step_item:nth-child(3) {
 padding: 0 30px;
}

.order_steps_section .step_item:after {
 display: block;
 content: '';
 width: 56px;
 height: 13px;
 background: center no-repeat;
 position: absolute;
 right: -28px;
}

.order_steps_section .step_item:nth-child(1):after {
 background-image: url("order_steps__arrow1.png");
 top: 34px;
}

.order_steps_section .step_item:nth-child(2):after {
 background-image: url("order_steps__arrow2.png");
 top: 167px;
}

.order_steps_section .step_item:nth-child(3):after {
 display: none;
}

.order_steps_section .step_item .image_block {
 margin: 0 auto 15px;
 width: 214px;
 position: relative;
}

.order_steps_section .step_item img {
 display: block;
 border: 7px solid #fff;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

.order_steps_section .step_item .number {
 width: 48px;
 height: 48px;
 border: 4px solid #fff;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
 background: #00b4e6;
 font-weight: 700;
 font-size: 20px;
 line-height: 40px;
 color: #fff;
 position: absolute;
 top: 10px;
 left: 10px;
}

.order_steps_section .step_item p {
 font-size: 16px;
 line-height: 24px;
}

/*   footer   */

.footer {
 position: relative;
 display: inline-block;
 width: 100%;
 background: #2f3847;
 text-align: center;
 padding: 0 0 30px;
}

.footer:before {
 position: absolute;
 left: 50%;
 top: -27px;
 margin-left: -245px;
 display: block;
 width: 490px;
 height: 27px;
 background: url("title-bg.png") 0 0 no-repeat;
 content: '';
}

.footer h4 {
 position: relative;
 width: 100%;
 font-size: 18px;
 font-weight: 700;
 margin-top: -17px;
 text-transform: uppercase;
 padding-bottom: 20px;
 color: #fff;
 z-index: 5;
}

.footer img {
 display: block;
 margin: 0 auto 15px;
}

.footer a {
 font-size: 14px;
 color: #fff;
}

.footer a:hover {
 text-decoration: none;
}

@media screen and (max-width: 959px) {

 section {
  padding: 30px 0;
 }

 h2.title {
  font-size: 28px;
  line-height: 32px;
 }

 .offer {
  background: url("offer-top-960.jpg") 50% 0 no-repeat #c9e7f5;
  height: 528px;
 }

 .offer h1 {
  font-size: 34px;
  line-height: 34px;
 }

 .offer h1 i {
  font-size: 28px;
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  margin-left: 10px;
  top: 0;
 }

 .offer h2 {
  font-size: 14px;
 }

 .offer h2 span {
  display: block;
 }

 .offer .sale {
  left: 460px;
  top: 150px;
 }

 .offer .box {
  padding-top: 15px;
 }

 .promo.top a.button-m {
  float: right;
  clear: none;
 }

 .promo.top .timer_block {
  display: none;
 }

 .promo .bottom_info .last_day,
 .promo .bottom_info .stock {
  width: 50%;
  text-align: center;
 }

 .promo .bottom_info .last_day {
  padding-right: 10px;
 }

 .promo .bottom_info .stock {
  padding-left: 10px;
 }

 .promo .price {
  margin-left: 0;
 }

 .promo a.button-m {
  float: right;
  margin-left: 0;
 }

 .promo .bottom_info {
  clear: left;
  padding: 13px 0 0;
 }

 .list-v3 {
  margin-bottom: -35px;
 }

 .list-v3 li {
  width: 50%;
  padding-bottom: 35px;
 }

 .list-v3 li p {
  padding: 0 40px;
 }

 .plus {
  padding-bottom: 0;
 }

 .plus ul li:nth-child(1),
 .plus ul li:nth-child(2),
 .plus ul li:nth-child(3),
 .plus ul li:nth-child(4) {
  width: 33.33%;
  background-position: 50% 0;
  text-align: center;
  padding: 55px 0 30px;
 }

 .b3 h3 {
  text-align: center;
 }

 .b3 .text {
  padding-right: 0;
  text-align: center;
 }

 .b3 .text img {
  margin: 0 auto;
 }

 .about:before {
  display: none;
 }

 .about {
  padding: 15px 0 20px;
 }

 .about h4 {
  margin-top: 0;
 }

 .about p {
  padding: 0;
 }

 .b3 {
  background: #fff;
  height: auto;
  padding: 30px 0;
 }

 .b3 .wrap {
  padding-left: 10px;
 }

 .benefits_section {
  height: auto;
  background: #2c3544;
  background: -moz-linear-gradient(top, #2c3544 0%, #262c3a 100%);
  background: -webkit-linear-gradient(top, #2c3544 0%, #262c3a 100%);
  background: linear-gradient(to bottom, #2c3544 0%, #262c3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c3544', endColorstr='#262c3a', GradientType=0);
 }

 .benefits_section h2 {
  padding: 0 50px;
 }

 .benefits_section p.desc b {
  display: inline;
 }

 .benefits_section .benefit_item {
  display: table;
  float: none;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
  text-align: left;
 }

 .benefits_section .benefit_item .image_block {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
 }

 .benefits_section .benefit_item .text_block {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 0 15px;
 }

 .benefits_section .benefit_item p {
  padding: 0;
 }

 .benefits_section .promo {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  padding-top: 40px;
 }

 .promo .timer_block {
  float: right;
  margin: 0 0 20px 0;
  width: 300px;

 }

 .promo a.button-m {
  float: none;
  clear: both;
  margin: 0 auto;
 }

 .comparison_section .product_item img {
  margin: 0 auto 15px;
 }

 .comparison_section .product_item h4 {
  padding: 10px 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
 }

 .comparison_section .product_item p:first-of-type {
  min-height: 126px;
 }

 .comparison_section .product_item:nth-child(2) h4 {
  font-weight: 400;
  font-size: 14px;
 }

 .comparison_section .images_block {
  padding-top: 15px;
 }

 .comparison_section .images_block img {
  margin: 0 20px 0 0;
  width: 193px;
 }

 .preview_photo ul {
  width: 475px;
  margin: 0 auto -10px;
 }

 .preview_photo ul li {
  padding-bottom: 10px;
 }

 .order_steps_section {
  -webkit-background-size: 800px auto;
  -moz-background-size: 800px auto;
  -o-background-size: 800px auto;
  background-size: 800px auto;
 }

 .order_steps_section .steps_list {
  margin: 0 -10px 30px;
 }

 .order_steps_section .step_item {
  padding: 0 18px;
 }

 .order_steps_section .step_item:nth-child(3) {
  padding: 0 10px;
 }

 .order_steps_section .step_item:after {
  display: none;
 }

 .order_steps_section .step_item .image_block {
  width: 180px;
 }

 .order_steps_section .step_item p {
  font-size: 15px;
  line-height: 22px;
 }

 .offer.bottom {
  background: url("offer-bottom-960.jpg") 50% 0 no-repeat #e4eeed;
  height: auto;
  padding-bottom: 45px;
 }

 .offer .order_form {
  margin-right: -10px;
 }

 .offer {
  overflow: hidden;
 }

 .offer.bottom h2 {
  margin-bottom: 25px;
 }

 .offer.bottom .timer_block {
  background: none;
  right: -270px;
  bottom: 25px;
 }

 .offer.bottom .timer_block > p {
  color: #fff;
 }

 .offer.bottom .sale {
  display: block;
  left: 180px;
  top: 295px;
 }

}

@media screen and (max-width: 639px) {

 .offer {
  background: url("offer-top-640.jpg") 50% 0 no-repeat #fdfefb;
  height: 492px;
 }

 .offer.bottom {
  padding-bottom: 40px;
 }

 .offer h1 {
  font-size: 26px;
  line-height: 30px;
 }

 .offer h2 {
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 280px;
 }

 .offer h2 span {
  padding: 5px 0;
 }

 .offer .box {
  padding-top: 8px;
  height: auto;
 }

 .offer .sale {
  left: 15px;
  top: 250px;
  right: auto;
 }

 .offer.bottom .sale {
  left: 220px;
  top: 235px;
 }

 .promo.top a.button-m {
  float: none;
 }

 .list-v3 li,
 .plus ul li:nth-child(1),
 .plus ul li:nth-child(2),
 .plus ul li:nth-child(3),
 .plus ul li:nth-child(4) {
  width: 100%;
 }

 .b3 .text {
  text-align: center;
 }

 h2.title {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
 }

 section {
  padding: 25px 0;
 }

 .b3 {
  padding: 25px 0;
 }

 .benefits_section {
  padding: 25px 0;
 }

 .benefits_section h2 {
  padding: 0;
 }

 .benefits_section p.desc {
  font-size: 16px;
 }

 .benefits_section p.description {
  margin: -20px 0 30px;
 }

 .benefits_section .benefits_list {
  margin: 0 0 30px;
 }

 .benefits_section .benefit_item {
  display: block;
  padding: 0 5px;
  text-align: center;
 }

 .benefits_section .benefit_item .image_block {
  display: block;
  margin: 0 auto 15px;
 }

 .benefits_section .benefit_item .text_block {
  display: block;
  padding: 0;
 }

 .benefits_section .promo {
  padding: 0;
 }

 .promo .price {
  float: none;
  margin-bottom: 20px;
 }

 .promo .timer_block {
  float: none;
 }

 .promo a.button-m,
 .offer .promo a.button-m {
  float: none;
 }

 .promo .bottom_info {
  text-align: center;
  padding: 15px 0;
 }

 .promo .bottom_info .last_day {
  padding-bottom: 10px;
 }

 .promo .bottom_info .last_day,
 .promo .bottom_info .stock {
  float: none;
  width: auto;
 }

 .promo .bottom_info .last_day {
  padding-right: 0;
 }

 .promo .bottom_info .stock {
  padding-left: 0;
 }

 .comparison_section .product_item {
  float: none;
  width: 100%;
  border: none;
 }

 .comparison_section .product_item:first-child {
  margin: 0 0 15px;
  padding: 0;
 }

 .comparison_section .product_item p:first-of-type {
  min-height: auto;
 }

 .comparison_section .product_item:first-child h4,
 .comparison_section .product_item:nth-child(2) h4 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 }

 .comparison_section .images_block img {
  width: auto;
  display: block;
  margin: 0 auto 20px;
 }

 .about h4 {
  line-height: 28px;
 }

 .about p b {
  display: inline;
 }

 .reviews {
  background: #0391b9;
 }

 .preview_photo ul {
  width: auto;
 }

 .preview_photo li {
  float: none;
 }

 .preview_photo li img {
  margin: 0 auto;
 }

 .order_steps_section {
  background-image: none;
 }

 .order_steps_section h2.title {
  margin: 0 0 30px;
 }

 .order_steps_section .step_item {
  float: none;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
 }

 .order_steps_section .step_item:nth-child(3) {
  padding: 0;
 }

 .order_steps_section .step_item .image_block {
  width: 200px;
 }

 .order_steps_section .step_item img {
  border: none;
 }

 .order_steps_section .step_item p {
  padding: 0 30px;
 }

 .offer.bottom {
  background: url("offer-top-640.jpg") 50% 0 no-repeat #00b4e6;
 }

 .offer.bottom .box {
  height: 492px;
 }

 .offer .order_form {
  margin-right: -40px;
 }

 .offer.bottom .timer_block {
  display: none;
 }

 .offer.bottom h2 {
  margin-bottom: 280px;
 }

 .footer {
  padding-top: 20px;
 }

 .footer:before {
  display: none;
 }

 .footer h4 {
  margin-top: 0;
  font-size: 16px;
 }

}







